body {
  background-color: #333;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.person__new {
  border: 2px solid rgb(31, 98, 14);
  background-color: rgb(93, 221, 86);
  color: #333;
  padding: 0.5em 1em;
}
.error {
  padding: 0.5em 1em;
  border: 2px solid red;
  background-color: rgb(40, 29, 29);
  color: red;
  margin: 1rem;
}
