@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-6 py-1 mx-6 text-white text-lg rounded-md bg-emerald-900 hover:bg-emerald-400
    transition duration-200;
  }
}
html {
  background-color: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.active {
  border-bottom: 4px solid;
  border-color: rgb(6 78 59);
}
a {
  border-bottom: 4px solid transparent;
}
